In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.55.tar.gz (23 kB)
Requirement already satisfied: pandas>=0.24 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from yfinance) (1.0.1)
Requirement already satisfied: numpy>=1.15 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from yfinance) (1.19.4)
Requirement already satisfied: requests>=2.20 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from yfinance) (2.25.0)
Requirement already satisfied: lxml>=4.5.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from yfinance) (4.6.2)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: numpy>=1.15 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from yfinance) (1.19.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2020.11.8)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22616 sha256=44cf3df5a2ab1bb69aaa5a1753d0f77b0dfbf53585523f716546e3384c228e52
  Stored in directory: /home/ec2-user/.cache/pip/wheels/68/72/87/a384b8b8139f2489024464d6f5937e6acb2054c57d25519fb9
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8366 sha256=857e53d7a360e97b13049f196feded2e5bc5e703559ddbb64736cb93c2f49d41
  Stored in directory: /home/ec2-user/.cache/pip/wheels/5e/8a/c4/59c699498647c7c94b14c87a904ca7540646107b3d94b7c320
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.55
WARNING: You are using pip version 20.3; however, version 20.3.3 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [36]:
import yfinance as yf
import pandas as pd

In [52]:
df = pd.read_csv("2020IPO.csv", names=["IPO_Date","Ticker","IPO_Price"])

ko = yf.Ticker('KO')
SKLZ=yf.Ticker('sklz')
PSTH=yf.Ticker('psth')

In [7]:
data = yf.download('KO AAPL', period='6mo')

[*********************100%***********************]  2 of 2 completed

In [31]:
sklz=yf.download('sklz', period='1y')

[*********************100%***********************]  1 of 1 completed

In [91]:
Coke = yf.download('KO', period='1y')

[*********************100%***********************]  1 of 1 completed

In [9]:
Coke.loc['2020-6-1':'2020-6-10']

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-06-01  46.660000  47.230000  46.590000  46.990002  45.833645  17010700
2020-06-02  47.160000  47.279999  46.560001  46.900002  45.745865  15255100
2020-06-03  47.270000  48.119999  47.119999  47.900002  46.721252  15508300
2020-06-04  47.939999  48.270000  47.380001  47.919998  46.740753  13604700
2020-06-05  48.540001  49.490002  48.459999  49.090000  47.881969  20504800
2020-06-08  49.540001  49.970001  49.470001  49.849998  48.623264  19896700
2020-06-09  49.590000  49.590000  48.680000  49.000000  47.794182  16713700
2020-06-10  49.160000  49.270000  48.570000  48.619999  47.423534  15716600

In [10]:
Coke.loc[Coke.index.max()]

Open         5.302000e+01
High         5.355000e+01
Low          5.302000e+01
Close        5.344000e+01
Adj Close    5.344000e+01
Volume       3.265500e+06
Name: 2020-12-24 00:00:00, dtype: float64

In [178]:
Coke.loc[Coke['High'] > 49]['2020-6-1':'2020-6-10'][Coke['Close'] > 48]

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2020-06-05,48.540001,49.490002,48.459999,49.090000,47.881969,20504800,COKE
2020-06-08,49.540001,49.970001,49.470001,49.849998,48.623264,19896700,COKE
2020-06-09,49.590000,49.590000,48.680000,49.000000,47.794182,16713700,COKE
2020-06-10,49.160000,49.270000,48.570000,48.619999,47.423534,15716600,COKE

In [32]:
sklz.loc[sklz.index.max()]

Open         2.500000e+01
High         2.561000e+01
Low          2.377000e+01
Close        2.450000e+01
Adj Close    2.450000e+01
Volume       6.560800e+06
Name: 2021-01-12 00:00:00, dtype: float64

In [35]:
PSTH.info['industry']

'Shell Companies'

In [236]:
stocks=df['Ticker'].tolist()
stocks=stocks[:100]
stocks

['VEL',
 'IMAB',
 'DNK',
 'LIZI',
 'SCVX',
 'GHIV',
 'ANVS',
 'BDTX',
 'ANPC',
 'REYN',
 'ONEM',
 'ARQT',
 'CSPR',
 'SDGR',
 'BEAM',
 'PPD',
 'ONEW',
 'NREF',
 'PFHD',
 'CCAC',
 'GNRS',
 'HUIZ',
 'RVMD',
 'GRIL',
 'MEDS',
 'ZGYH',
 'NBAC',
 'CCXX',
 'ESSC',
 'DMYT',
 'ZCMD',
 'PASG',
 'GFL',
 'LSAC',
 'FEAC',
 'DFPH',
 'IMRA',
 'WIMI',
 'ZNTL',
 'KROS',
 'IPOC',
 'ORIC',
 'PCPL',
 'CHAQ',
 'IPOB',
 'FVAC',
 'LYRA',
 'CGRO',
 'GAN',
 'ROCH',
 'SOAC',
 'LOAK',
 'KC',
 'AYLA',
 'CLEU',
 'JWS',
 'GIK',
 'ADCT',
 'NOVS',
 'BMRG',
 'SLQT',
 'LGVW',
 'NARI',
 'WPF',
 'PLRX',
 'WMG',
 'ZI',
 'AMTI',
 'CALT',
 'DADA',
 'FOUR',
 'LEGN',
 'ARYB',
 'MCAC',
 'VRM',
 'HEC',
 'UCL',
 'LTRN',
 'AZEK',
 'BNR',
 'GBIO',
 'PCVX',
 'RNA',
 'RPRX',
 'TREB',
 'FMTX',
 'GTH',
 'PROG',
 'RPTX',
 'NUZE',
 'BRLI',
 'AKUS',
 'EBON',
 'FUSN',
 'PYPD',
 'API',
 'ACI',
 'FUSE',
 'KCAC',
 'ADTX']

In [73]:
stuff=yf.Tickers(list[:10])

In [250]:
newdf=pd.DataFrame({"Ticker":[],"Open":[],"High":[],"Low":[],"Close":[],"Adj Close":[],"Volume":[]})
sumdf=pd.DataFrame({"Ticker":[],"IPO_date":[],"d1Open":[],"ATH":[],"ATH_Date":[],"ATL":[],"ATL_Date":[]})

In [105]:
sklz['Ticker']="SKLZ"

In [199]:
newdf[(newdf['Ticker'] == 'SKLZ') & (newdf['Open']==newdf['Open'].min())]

           Ticker  Open  High   Low  Close  Adj Close    Volume
2020-05-08   SKLZ  9.85  10.0  9.85   10.0       10.0  349600.0

In [234]:
for stock in stocks:
    info = yf.download(stock, period='1y')
    info['Ticker']=stock
    newdf=newdf.append(info)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [235]:
newdf

           Ticker   Open     High     Low   Close  Adj Close     Volume
2020-01-17    VEL  13.85  14.2500  13.400  13.510     13.510  3438500.0
2020-01-21    VEL  13.52  14.2500  13.300  14.110     14.110   352000.0
2020-01-22    VEL  14.16  14.2500  13.800  14.050     14.050   246800.0
2020-01-23    VEL  14.10  14.1000  13.885  13.890     13.890    58500.0
2020-01-24    VEL  13.91  14.0300  13.170  13.640     13.640   139500.0
...           ...    ...      ...     ...     ...        ...        ...
2021-01-11   ADTX   2.30   2.3400   2.170   2.260      2.260   583400.0
2021-01-12   ADTX   2.26   2.3800   2.255   2.340      2.340   495700.0
2021-01-13   ADTX   2.33   2.4450   2.280   2.405      2.405   675900.0
2021-01-14   ADTX   2.40   2.5800   2.310   2.470      2.470  1795400.0
2021-01-15   ADTX   2.46   2.4715   2.305   2.360      2.360   769955.0

[17358 rows x 7 columns]

In [243]:
newdf[((newdf['Ticker'] == 'IPOC')newdf['Open'].min()]

Empty DataFrame
Columns: [Ticker, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [249]:
type(IPOCd

pandas.core.series.Series